

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* customization for cart section */

.custom-card-image img {
    border-radius: 1rem;

}

.custom-card-image {
    border: 0!important;
    border-radius: 1rem!important;
}

.custom-button-card {
    border-radius: 1rem!important;
    padding: 0.1rem!important;
    
}

/* end of customization :-) */

.custom-button-card {
    
}

.cst-card-hover:hover .custom-button-card {
    transform: translateY(-10px);
    transition: transform .30s ease-in-out;
}