@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");

.section:not(.full-height) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbotron-section {
    object-fit: contain;
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    min-height: 650px;
    background-position: top;
}

/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* customization for cart section */

.custom-card-image img {
    border-radius: 1rem;

}

.custom-card-image {
    border: 0!important;
    border-radius: 1rem!important;
}

.custom-button-card {
    border-radius: 1rem!important;
    padding: 0.1rem!important;
    
}

/* end of customization :-) */
/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */

