@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");

.section:not(.full-height) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.jumbotron-section {
    object-fit: contain;
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    min-height: 650px;
    background-position: top;
}


/* ------------------------------ */
/* ------------------------------ */
/* ------------------------------ */
/* customization for cart section */

.custom-card-image img {
    border-radius: 1rem;

}

.custom-card-image {
    border: 0!important;
    border-radius: 1rem!important;
}

.custom-button-card {
    border-radius: 1rem!important;
    padding: 0.1rem!important;
    
}

/* end of customization :-) */




/* ------------------------------ */
/* ------------------------------ */
/* other profuct border-bottom + opacity on hover */

.sliders-section-bd-img-ac {
    border-bottom:2px solid rgb(69, 150, 216);
}

.sliders-section-bd-img:hover {
    border-bottom: 2px solid rgb(69, 150, 216);
    opacity: 1;
}

.sliders-section-bd-img {
    border-bottom: 2px solid rgba(69, 150, 216, 0);
    opacity: .8;
}
/* ------------------------------ */



/* ------------ It takes two section ------------------ */




/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* !!!!!!!!!!!!! Problem: -> image fit not correct !!!!!!!!!!!!!!!!!*/
.background-ITT-sec {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    width: 100%;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */






/* Nuove uscite section */

.border-rounded-img > img {
    border-radius: 32px;
}

/* PlayStation Now section*/

.custom-bg-blue {
    background-color: rgb(22, 29, 58) ;
}