@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");

.section:not(.full-height) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Scroll top black bar -> with sticky*/

header {
    top: -28.32px!important;
}

/* jumbotron */

.jumbotron-section {
    object-fit: contain;
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    min-height: 650px;
    background-position: top;
}

/* nav-bar start */
.dropdown-toggle::after {
    border: 0!important;
}

.ct-opacity-rules {
    opacity: .4;
}

.ct-opacity-rules:hover {
    opacity: .5;
}

.ct-opacity-rules:focus  {
    opacity: .7;
}

.ct-opacity-rules:focus:hover {
    opacity: 1;
}


/* ------------------------------ */
/* ------------------------------ */
/* other profuct border-bottom + opacity on hover */

.sliders-section-bd-img-ac {
    border-bottom:2px solid rgb(69, 150, 216);
}

.sliders-section-bd-img:hover {
    border-bottom: 2px solid rgb(69, 150, 216);
    opacity: 1;
}

.sliders-section-bd-img {
    border-bottom: 2px solid rgba(69, 150, 216, 0);
    opacity: .8;
}
/* ------------------------------ */



/* ------------ It takes two section ------------------ */

.background-ITT-sec {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    width: 100%;
}


/* Nuove uscite section */

.border-rounded-img > img {
    border-radius: 32px;
}

/* PlayStation Now section*/

.custom-bg-blue {
    background-color: rgb(22, 29, 58) ;
}


/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* ----------------------HOVER SECTION--------------------- */


/* nuove uscite section hover effect */
.img-card-hover {
    cursor: pointer;
}

.img-card-hover img {
    transition: transform .35s ease-in-out, opacity .25s ease-in-out, box-shadow .20s ease-in-out;
}

.img-card-hover:hover img {
    transform: scale(1.1);
    opacity: .8;
}

.img-card-hover:focus img {
    box-shadow: 1px 1px 1rem rgba(197, 255, 179, 0.577), -.3rem .2rem .4em rgba(255, 254, 222, 0.536);
    opacity: 1;
}

.img-card-hover:focus p {
    color: grey!important;
}

.img-card-hover p {
    transition: transform .30s ease-in-out, color .30s ease-in-out;
}

.img-card-hover:hover p {
    transform: translateX(20px) scale(1.2);
    color: rgba(255, 255, 255, 0.835);
}


/* esplora PS4 hover section */

.EPS4-hover img {
    transition: transform .40s ease-in-out, opacity .40s ease-in-out;
}

.EPS4-hover:hover img {
    transform: translateY(-15px);
    opacity: .9;
}

.EPS4-hover h3 {
    transition: opacity .50s ease-in-out;
}

.EPS4-hover:hover h3 {
    opacity: .8;
}

.EPS4-hover:focus img {
    transform: translateY(-5px);
    opacity: 1;
}

.EPS4-hover:focus h3 {
    opacity: 1;
}

/* nuovi sconti section */

.Sales-section-img img {
    transition: opacity .30s ease-in-out;
}


.Sales-section-img:hover img {
    opacity: .9;
}

/* social media */

.container-social img{
    border-radius: 50%;
    cursor: pointer;
    transition: border-radius .30s ease-in-out, opacity .40s ease-in-out, transform .25s ease-in-out;
}

.container-social:hover img{
    border-radius: 20%;
    opacity: .8;
    transform: scale(1.1);
}

.container-social:focus img {
    border-radius: 5%;
    opacity: 1;
    transform: scale(1);
}

/* link footer */

.custom-hvr-link-effect li:hover a {
    text-decoration: underline!important;
}




/* animation */

/* playstation plus */
.animation-PSP-banner {
    animation-name: PSPLUS;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}


@keyframes PSPLUS {
    0%{
        transform: translateX(120%);
    }

    10%{
        transform: translateX(20%);
    }

    80% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(120%);
    }
}

/* playstation now */

.animation-PSN-image {
    animation-name: PSNOW;
    animation-timing-function: ease-in-out;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes PSNOW {
    0% {
        transform: scale(100);
    }

    5% {
        transform: scale(1.3);
    }

    99% {
        transform: scale(1);
    }

    100% {
        transform: scale(100);
    }
}