@import url("variables.css");
@import url("buttons.css");
@import url("cards.css");

.section:not(.full-height) {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Scroll top black bar -> with sticky*/

header {
    top: -28.32px!important;
}

/* jumbotron */

.jumbotron-section {
    object-fit: contain;
    background-image: url(../img/jumbo-bg.png);
    width: 100%;
    min-height: 650px;
    background-position: top;
}

/* nav-bar start */
.dropdown-toggle::after {
    border: 0!important;
}

.ct-opacity-rules {
    opacity: .4;
}

.ct-opacity-rules:hover {
    opacity: .5;
}

.ct-opacity-rules:focus  {
    opacity: .7;
}

.ct-opacity-rules:focus:hover {
    opacity: 1;
}


/* ------------------------------ */
/* ------------------------------ */
/* other profuct border-bottom + opacity on hover */

.sliders-section-bd-img-ac {
    border-bottom:2px solid rgb(69, 150, 216);
}

.sliders-section-bd-img:hover {
    border-bottom: 2px solid rgb(69, 150, 216);
    opacity: 1;
}

.sliders-section-bd-img {
    border-bottom: 2px solid rgba(69, 150, 216, 0);
    opacity: .8;
}
/* ------------------------------ */



/* ------------ It takes two section ------------------ */

.background-ITT-sec {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: top;
    width: 100%;
}


/* Nuove uscite section */

.border-rounded-img > img {
    border-radius: 32px;
}

/* PlayStation Now section*/

.custom-bg-blue {
    background-color: rgb(22, 29, 58) ;
}


/* -------------------------------------------------------- */
/* -------------------------------------------------------- */
/* ----------------------HOVER SECTION--------------------- */

